/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap'); */
/* font-family: 'Bricolage Grotesque', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

::-webkit-scrollbar {
  width: 10px;
}
#card-container{
    background-color: #dedddc;

}

/* Track */
.red-text{
  color: red;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card); 
  border-radius: 3vh;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 58, 67); 
}

.dark {
  --gemtextcard_2:rgba(176, 176, 176, 0.436);
  --background: rgb(17, 24, 39);
  --card: rgb(31, 41, 55);
  --textcard: rgb(225, 225, 225);
  --textcard_2: rgba(225, 225, 225, 0.49);
  --textcard_3: rgba(255, 255, 255, 0.711);
  --webbox_colorBack: rgba(16, 31, 52, 0.647);
  --subox:white;
  --suboxtext:rgb(41, 51, 64);
  --leftcardbox:white;
  --dayandnightmode:white;
  --dissine:rgba(255, 255, 255, 0.774);
}

:root {
  --gemtextcard_2:rgb(50, 66, 89);
  --background: 	rgb(222, 222, 222);
  --card: #fafafa;
  --textcard: rgb(17, 24, 39);
  --textcard_2: rgb(31, 41, 55);
  --textcard_3: rgba(31, 41, 55, 0.753);
  --webbox_colorBack: rgb(60, 89, 170) ;
  --subox:rgb(60, 89, 170);
  --suboxtext:white;
  --leftcardbox:white;
  --dayandnightmode:rgb(154, 154, 154);
  --dissine:black;

}


body{
  margin: 0;
  padding: 0;
  background-color:var(--background);
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}


.dissine{
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: -2;
  color: var(--dissine);
  
}


.dissine{
  display: block;
}

/* nav */
.nav{
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left h2{
  padding: 0;
  margin: 0;
  line-height: 0;
}

.right_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
}

.button{
  position: relative;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:  5px;
  background-color: black;
}

.button{
  position: relative;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:  5px;
  background-color: black;
}

.menu{
  position: relative;
  width: 25px;
  height: 25px;

  justify-content: center;
  border-radius:  100px;

  display: flex;
  flex-direction: column; /* column layout */
  gap: 4px; 

  justify-content: center;
  align-items: center;

}

.button:nth-child(5){background-color: green;}
.button:nth-child(3){background-color: rgb(10, 10, 176);}
.button:nth-child(1){background-color: rgb(157, 3, 3);}

.menu div{
  position: relative;
  height: 5px;
  width: 100%;
  background-color: black;
}



/* box *//* box *//* box *//* box *//* box */
/* box *//* box *//* box *//* box *//* box */
.box{
  position: relative;
  width: 100vw;
  height: 91.8vh;
  color: white;
  display: flex;
  /* background-color: black; */
}

.left_box{
  position: relative;
  width: 30%;
  height: 100%;
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.032); 

}

.right_box{
  position: relative;
  width: 70%;
  height: 100%;
  color: white;
  display: flex;
  background-color: black; 
}
