@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');
/* font-family: 'Bricolage Grotesque', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.red-text{
  color: red;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card); 
  border-radius: 3vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 58, 67); 
}

:root {
  --background: rgb(17, 24, 39);
  --card: rgb(31, 41, 55);
  --textcard: rgb(225, 225, 225);
  --textcard_2: rgba(225, 225, 225, 0.403);
  --textcard_3: rgba(255, 255, 255, 0.711);
  --webbox_colorBack: rgba(16, 31, 52, 0.647);
  --subox:white;
  --suboxtext:rgb(41, 51, 64);
  --leftcardbox:white;
  --dayandnightmode:white;
}

.dark {
  --background: 	rgb(222, 222, 222);
  --card: #fafafa;
  --textcard: rgb(17, 24, 39);
  --textcard_2: rgb(31, 41, 55);
  --textcard_3: rgba(31, 41, 55, 0.753);
  /* --webbox_colorBack: #484b6a;*/
  --webbox_colorBack: rgb(60, 89, 170) ;
  --subox:rgb(60, 89, 170);
  --suboxtext:white;
  --leftcardbox:white;
  --dayandnightmode:rgb(154, 154, 154);

}


body{
  margin: 0;
  padding: 0;
  background-color:var(--background);
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}


/* bar bar bar  *//* bar bar bar  *//* bar bar bar  *//* bar bar bar  *//* bar bar bar  */


/* leftbox_cont */
.top_bar h1{
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 0;
    top:2vh;
    font-family: 'Bricolage Grotesque', sans-serif;
  }

.leftbox_cont{
    position: absolute;
    left: 0.5vw;
    top: 1.5vh;
    width: 16vw;
    height: 96.8vh;
    background-color:var(--card);

    border-radius: 3vh;
    color: var(--textcard);
}

.left-midcardbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14vw;
    height: 82vh;
    border-radius: 3vh;
    background-color: var(--left-midcardbox);
  }



/* histry */
.tabel_history{
    position: absolute;
    top:1.5vh;
    right:0.5vw ;
    height: 8vh;
    font-size: 5vh;
    color: #fafafa;
    background-color: var(--card);
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    width: 82.5vw;
    /* padding-top: 1.5vh; */
    /* padding-bottom: 1.5vh; */
    /* padding-left: 1.9vh; */
}

.tabel_historyCont{
    position: absolute;
    top:10.5vh;
    right:0.5vw ;
    height: 87.9vh;
    font-size: 5vh;
    color: #fafafa;
    background-color: var(--card);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    width: 82.5vw;
}